<%- include('templates/headerNE',{  tituloURL }) %>
<%- include('templates/nav') %>

<main>
    <div id="divFormulario">

        <% if (tituloURL.includes('Error')) { %>
            <p id="pError"><%= error %></p>
        <% } %>

        <% if (tituloURL.includes('Modificar')) { %>

            <p>ID: <span id="spnID"><%- producto._id %></span></p>
            <p>Fecha Alta: <span id="spnFechaAlta"><%- producto.fecha %></span></p>

            <form action="/dashboard/productos/updt/<%- producto._id %>" method="post">

                <label for="tipo" id="labelTipoDash">Tipo:</label>
                <input type="text" name="tipo" id="tipo" value="<%- producto.tipo %>">

                <label for="descripcion">Descripción:</label>
                <input type="text" name="descripcion" id="descripcion" value="<%- producto.descripcion %>">

                <label for="imagen">Source Imágen:</label>
                <input type="text" name="imagen" id="imagen"  value="<%- producto.imagen %>">

                <label for="precio">Precio:</label>
                <input type="number" name="precio" id="precio" min="1"  value="<%- producto.precio %>">

                <div id="btnsFormDash">
                    <button  id="btnSubmitDash" type="submit"><i class="fa-regular fa-floppy-disk"></i> Modificar</button>                
                    <a href="/dashboard" class="btnCancelarDash"><i class="fa-solid fa-rotate-left"></i> Cancelar</a>                
                </div>

            </form>

            <div id="divImgDash">

                <% if (producto.imagen=='') { %>
                    <img id="imgFormDash" src="../assets/nopic.png"  alt="">
                <% } else { %>
                    <img id="imgFormDash" src="<%- producto.imagen %>" alt="">
                <% } %>
                
            </div>

        <% } else { %>

            <form action="/dashboard/productos/post/" method="post">

                <% if (tituloURL.includes('Error')) { %>

                    <label for="tipo" id="labelTipoDash">Tipo:</label>
                    <input type="text" name="tipo" id="tipo" value="<%- producto.tipo %>">

                    <label for="descripcion">Descripción:</label>
                    <input type="text" name="descripcion" id="descripcion" value="<%- producto.descripcion %>">

                    <label for="imagen">Source Imágen:</label>
                    <input type="text" name="imagen" id="imagen"  value="<%- producto.imagen %>">

                    <label for="precio">Precio:</label>
                    <input type="number" name="precio" id="precio" min="1"  value="<%- producto.precio %>">
                    
                <% } else { %>

                    <label for="tipo" id="labelTipoDash">Tipo:</label>
                    <input type="text" name="tipo" id="tipo">

                    <label for="descripcion">Descripción:</label>
                    <input type="text" name="descripcion" id="descripcion">

                    <label for="imagen">Source Imágen:</label>
                    <input type="text" name="imagen" id="imagen">

                    <label for="precio">Precio:</label>
                    <input type="number" name="precio" id="precio" min="1">

                <% } %>

                <div id="btnsFormDash">

                    <button  id="btnSubmitDash" type="submit"><i class="fa-regular fa-floppy-disk"></i> Agregar</button>                
                    <a href="/dashboard" class="btnCancelarDash"><i class="fa-solid fa-rotate-left"></i> Cancelar</a>

                </div>

            </form>

            <div id="divImgDash">
                <img id="imgFormDash" src="<%= rutaBase %>/assets/nopic.png" alt="">
            </div>
            
        <% } %>

    </div>
</main>

<%- include('templates/footerNE',{  tituloURL }) %>