<%- include( 'templates/header' ,{tituloURL} ) %>

    <main>
        <h1>Menú de Administrador</h1>
    </main>

    <h2>Piscinas: <%= piscinas.length %>
    </h2>
    <h2>Barbacoas: <%= barbacoas.length %>
    </h2>
    <h2>Mobiliario: <%= mobiliario.length %>
    </h2>


    <%- include('templates/footer') %>