<%- include( 'templates/header' ,{tituloURL} ) %>

  <main>
    <h1><%- titulo %></h1>

    <% instalaciones.forEach(inst=> { %>
      <div class="instalacion">

        <div class="divBtnInst">
          <button class="btnAddToCartInst"><i id="<%- inst._id %>" class="fa-solid fa-cart-plus"></i></button>
        </div>

        <div class="divInfoInst">
          <h2><%- inst.tipo %></h2>

          <p>Descripción: <span><%- inst.descripcion %></span></p>
          <p>Precio: <span><%- inst.precio %>€</span></p>
          <p>Tiempo de ejecución: <span><%- inst.dias %> dias.</span></p>

        </div>

      </div>
      <% }) %>

  </main>
  <%- include('templates/footer') %>