<%- include( 'templates/header' ) %>

    <main>
        <h1><%- titulo %></h1>
        <% servicios.forEach(element=> { %>
            <p>
                <%= element.servicio %>
            </p>
            <p>
                <%= element.descripcion %>
            </p>
            <% }) %>
               
    </main>

    <%- include('templates/footer') %>